* {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: black;
}

.Title {
    padding: 14px 16px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border: none;
}
