* {
    padding: 0;
    margin: 0;
    border: 0;
}

.Title {
    padding 14px 16px;
    background-color: black;
}

.navbar {
    overflow: hidden;
    background-color: black;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sticky {
    postition: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: gray;
}

.main {
    margin-top: 30px;
}
        


    .intro {
        float: center;
        text-align: center;
        padding: 14px 16px;
        border: 2px solid purple;
        border-radius: 25;
        font-family: 'Segoe UI' Tahoma, Geneva, Verdana, sans-serif;
    }
